$header-background: #3a3842;
$header-text-color: #ffffff;
$link-color: #0000FF;
$hover-link-color: rgb(64, 64, 221);
$footer-background: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
$message-background: rgb(248, 248, 153);
$message-border-color: #000000;
$delete-message-color: red;
$modale-background: rgb(238, 245, 243);
$input-border-color: #2f3034;