$header-background: #3a3842;
$header-text-color: #ffffff;
$link-color: #0000FF;
$hover-link-color: rgb(64, 64, 221);
$footer-background: #daece5;
$message-border-color: #000000;
$delete-message-color: red;
$hover-buttob-color: rgb(230, 29, 29);
$modale-background: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
$input-border-color: gray;
$hover-input-color: #2f3034;