footer {
  background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
  margin-top: 20px;
  .message {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    .item {
      background-color: rgb(248, 248, 153);
      border-radius: 4px;
      border-bottom: solid black;
    }
  }
  .delete {
    color: red;
    font-size: 26px;
  }
  .show-modal {
    padding: 50px;
    background-color: rgb(238, 245, 243);
    border: solid;
    border-radius: 5px;
    position: fixed;
    top: 140px;
    z-index: 15;
  }
  .contacts {
    padding: 20px 0 0 40px;
    h1, h2 {
      padding-left: 20px;
    }
    p {
      text-align: justify;
      padding: 30px 40px 30px 0;
    }
    h4 {
      padding: 0 0 20px 20px;
    }
    ul {
      height: 170px;
      padding: 0;
      li {
        height: 20px;
        margin-top: 10px;
        list-style-type: none;
        span {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          opacity: 0.1;
          background: #000;
          border-radius: 2px;
        }
        a {
          text-decoration: none;
          padding: 10px 12px;
        }
        a:hover {text-decoration: none;}
      }
    }
  }
  form {
    height: 480px;
    margin: auto;
    input, textarea {
      border-radius: 4px;
      width: 90%;
      height: 48px;
      padding: 0 5%;
      margin: 12px 0;
    }
    textarea {
      height: 192px;
      padding-top: 10px;
    }
    input:hover, textarea:hover {border: 1px solid #286090;}
    input[type=file] {
      height: 0;
      opacity: 0;
      overflow: hidden;
      cursor: pointer;
    }
    .fa-sticky-note {
      display: block;
      margin: -25px 0 0 5%;
      color: #286090;
    }
    button {
      width: 90%;
      height: 49px;
      margin: 12px 0;
    }
  }
}
