@import "../../styles/colors.scss";

.footer {
  background-color: $footer-background;
  background-image: url(/assets/images/social_icons/bg-contours.svg);
  margin-top: 50px;
  padding: 15px calc(15px + 1%);
}

.container {
  width: 50%;
  display: inline-block;
}

@media (max-width: 768px) {  
  .container {
    width: 100%;
  }
}