footer {
  background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
  margin-top: 15px;

  .message {
    margin-bottom: 20px;
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);

    h4 {
      display: flex;
      justify-content: center;
      padding-top: 15px;
    }

    .item {
      background-color: rgb(248, 248, 153);
      border-radius: 4px;
      border-bottom: solid black;
    }
  }

  .delete {
    color: red;
    font-size: 26px;
  }

  .show-modal {
    width: 80%;
    margin: 0 10%;
    padding: 15px 0;
    background-color: rgb(238, 245, 243);
    border: solid;
    border-radius: 5px;
    position: fixed;
    top: 80px;
    z-index: 15;

    .buttons {
      margin: 10px 0 0;
      justify-content: flex-end;
    }
  }

  .contacts {

    h3, h4 {
      display: flex;
      justify-content: center;
    }

    ul {
      padding: 0;

      li {
        height: 20px;
        margin-top: 10px;
        list-style-type: none;

        a {
          text-decoration: none;
          color: #0000FF;
          padding: 10px 12px;
        }
        
        a:hover {
          color: rgb(64, 64, 221)
        }

        .phone, .envelope, .cloud, .linkedin, .github, .codewars, .students-cap {
          background-image: url('../../../assets/images/social_icons/phone.svg');
          background-size: 15px 15px;
          background-position: 0 0;
          width: 15px;
          height: 15px;
          display: inline-block;
        }

        .envelope {
          background-image: url('../../../assets/images/social_icons/envelope.svg');
        }

        .cloud {
          background-image: url('../../../assets/images/social_icons/cloud.svg');
        }

        .linkedin {
          background-image: url('../../../assets/images/social_icons/linkedin.svg');
        }

        .github {
          background-image: url('../../../assets/images/social_icons/github.svg'); 
        }

        .codewars {
          background-image: url('../../../assets/images/social_icons/codewars.svg');
        }

        .students-cap {
          background-image: url('../../../assets/images/social_icons/students-cap.svg');
        }
      }
    }
  }
  
  .register-form {
    margin: auto;

    input, textarea {
      border-radius: 4px;
      width: 100%;
      height: 48px;
      padding: 0 5%;
      margin-bottom: 15px;
    }

    textarea {
      height: 100px;
      padding-top: 10px;
    }

    input:hover, textarea:hover {
      border: 1px solid #286090;
    }

    input[type=file] {
      height: 0;
      opacity: 0;
      overflow: hidden;
      cursor: pointer;
    }

    button {
      width: 100%;
      height: 49px;
      margin-bottom: 15px;
      background-color: #0000FF;
    }
    
    button:hover {background-color: rgb(64, 64, 221)}
  }
}

@media (min-width: 1360px) {
  .show-modal {
    width: 60% !important;
    margin: 0 20% !important;
  }
}

@media (min-width: 1760px) {
  .show-modal {
    width: 50% !important;
    margin: 0 25% !important;
  }
}