<footer class="footer">
	<div class="footer__show-modal" *ngIf="showMessageDetales">
		<div class="container">
			<div class="row" [formGroup]="updateMessageForm">
				<h5 class="col-md-3">{{ this.showMessage[0].name }}</h5>
				<h5 class="col-md-3">{{ this.showMessage[0].email }}</h5>
				<textarea class="col-md-6 form-control" formControlName="updateMessage" rows="10"></textarea>
			</div>
			<div class="row footer__show-modal_buttons">
				<button class="btn btn-danger" (click)="updateMessage()">{{ 'buttons.update' | translate }}</button>
				<button class="btn btn-primary" (click)="closeMessage()">{{ 'buttons.close' | translate }}</button>
			</div>
		</div>   
	</div>

	<div class="container footer__message">
		<h4 class="footer__message_title">{{ 'footer.message.comments' | translate }}</h4>
		<div class="container">
			<div class="row footer__message_items">
				<h5 class="col-md-3">{{ 'footer.message.name' | translate }}</h5>
				<h5 class="col-md-3">{{ 'footer.message.email' | translate }}</h5>
				<h5 class="col-md-6">{{ 'footer.message.messages' | translate }}</h5>
			</div>
			<div *ngIf="messagesFromServer">
				<div class="row footer__message_items" *ngFor="let later of messagesFromServer">
					<p class="col-md-3">{{ later.name }}</p>
					<p class="col-md-3">{{ later.email }}</p>
					<p class="col-md-6">&nbsp;{{ later.message | translate }}</p>
				</div>
			</div>
			<div *ngIf="messagesFromLocalStorage">
				<div class="row footer__message_items" *ngFor="let later of messagesFromLocalStorage" (click)="showDetails(messagesFromLocalStorage.indexOf(later))">
					<p class="col-md-3">{{ later.name }}</p>
					<p class="col-md-3">{{ later.email }}</p>
					<p class="col-md-5" style="margin: 10px 0;">&nbsp;{{ later.message }}</p>
					<span class="col-md-1 footer__message_delete" (click)="delete($event)" id="{{ messagesFromLocalStorage.indexOf(later) }}">&times;</span>
				</div>
			</div>
		</div>
	</div>
  
	<div class="container">
		<div class="row">
			<app-contacts class="col-md-6"></app-contacts>
			<app-register-form class="col-md-6"></app-register-form>
		</div>
	</div>
</footer> 
