@import "../../styles/colors.scss";

.header {
  background-color: $header-background;
  background-image: url(/assets/images/social_icons/bg-contours.svg);
  color: $header-text-color;
}

.header__laptop {
  padding: 0;
  margin: auto;

  .img-fluid {
    margin-bottom: -16px;
  }
}

.header__phone {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.header__subname {
  text-align: center;
  margin-top: 60px;
}

.header__name {
  font-size: 2.2rem;
  text-align: center;
  margin: 30px 0 0 30px;
}

.header__descriptin {
  margin: 30px auto;
  text-align: justify;
  line-height: 1.4;
}

.header__tablet {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.technology_level {
  display: flex;
  justify-content: space-between;
}
