<header>
  <div class="container">
    <div class="row">
      <div class="d-none d-lg-block col-lg-6 col-xl-5" style="padding: 0;">
        <figure>
          <img class="img-fluid" src="src/assets/images/logo_laptop.jpg" alt="logo_laptop" style="margin-bottom: -16px;">
        </figure>
      </div>
      <article class="col-lg-6 col-xl-7 information">
        <h3>{{ 'header.position' | translate }}</h3>
        <h1>{{ 'header.name' | translate }}</h1>
        <div class="d-block d-md-none">
          <figure style="display: flex; justify-content: center; margin-top: 30px;">
            <img class="rounded-circle" src="src/assets/images/logo_phone.jpg" alt="logo_phone">
          </figure>
        </div>
        <div class="d-none d-md-block d-lg-none">
          <figure style="display: flex; justify-content: center; margin-top: 30px;">
            <img class="rounded-circle" src="src/assets/images/logo_tablet.jpg" alt="logo_tablet">
          </figure>
        </div>
        <p class="d-none d-lg-block d-block d-lg-none">&nbsp;{{ 'header.description' | translate }}</p>
      </article>
    </div>
  </div>
</header>
