header {
  background-color: #3a3842;
  color: white;
  .btn-group {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 1;
  }
  .information {
    h3 {
      text-align: center;
      margin-top: 60px;
    }
    h1{
      font-size: 2.2rem;
      text-align: center;
      margin: 30px 0 0 30px;
    }
    p {
      margin: 30px 0 0 30px;
      text-align: justify;
      line-height: 1.4;
    }
    h5 {
      text-align: justify;
      margin: 30px 0;
    }
  }
}
