@import "../../../styles/colors.scss";

.contacts_title {
  display: flex;
  justify-content: center;
}

.contacts_items {
  padding: 0;
}

.contact-item {
  margin-top: 10px;
  list-style-type: none;
}

.contact-link {
  text-decoration: none;
  color: $link-color;
  padding: 10px 0 10px 12px;
}

.contact-link:hover {
  color: $hover-link-color;
}
