<section>
  <h3 class="contacts_title">{{ 'footer.name' | translate }}</h3>
  <p>&nbsp;{{ 'footer.description' | translate }}</p>
  <ul class="contacts_items">
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/phone.svg"></mat-icon>
      <a class="contact-link" href="tel:{{ 'footer.phone' | translate | removeSpaces }}">{{ 'footer.phone' | translate }}</a>
    </li>
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/envelope.svg"></mat-icon>
      <a class="contact-link" href="mailto:{{ 'footer.email' | translate }}">{{ 'footer.email' | translate }}</a>
    </li>
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/cloud.svg"></mat-icon>
      <a class="contact-link" href="assets/CV_Евдокимович Владимир.docx" download>{{ 'footer.cvRussian' | translate }}</a>
    </li>
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/cloud.svg"></mat-icon>
      <a class="contact-link" href="assets/CV_Uladzimir Yeudakimovich.docx" download>{{ 'footer.cvEnglish' | translate }}</a>
    </li>
  </ul>
  <h4 class="contacts_title">{{ 'footer.subname' | translate }}</h4>
  <ul class="contacts_items">
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/linkedin.svg"></mat-icon>
      <a class="contact-link" href="https://www.linkedin.com/in/uladzimir-yeudakimovich" target="_blank" rel="noopener">{{ 'footer.linkedin' | translate }}</a>
    </li>
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/github.svg"></mat-icon>
      <a class="contact-link" href="https://github.com/uladzimir-yeudakimovich" target="_blank" rel="noopener">{{ 'footer.github' | translate }}</a>
    </li>
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/codewars.svg"></mat-icon>
      <a class="contact-link" href="https://www.codewars.com/users/uladzimir.yeudakimovich" target="_blank" rel="noopener">{{ 'footer.codewars' | translate }}</a>
    </li>
    <li class="contact-item">
      <mat-icon inlineSVG="assets/images/social_icons/students-cap.svg"></mat-icon>
      <a class="contact-link" href="https://www.duolingo.com/91YN1" target="_blank" rel="noopener">{{ 'footer.duolingo' | translate }}</a>
    </li>
  </ul>
</section>