@import "./styles/colors.scss";

.languages {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: $header-background;
	background-image: url(assets/images/social_icons/bg-contours.svg);
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
}

.change-language {
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: 900;
	border-radius: 4px;
	border: none;
}

.change-language_unactive {
	background-color: $link-color;
	color: $header-text-color;
}

.change-language_active {
	background-color: $header-text-color;
	color: $link-color;
}

@media (max-width: 768px) {
	.languages {
		padding-top: 20px;
	}
}