@import "./styles/colors.scss";

.languages {
	position: fixed;
	top: 10px;
	left: calc(50% - 100px);
	z-index: 20;
}

.change-language {
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: 900;
	border-radius: 4px;
	border: none;
}

.change-language_unactive {
	background-color: $link-color;
	color: $header-text-color;
}

.change-language_active {
	background-color: $header-text-color;
	color: $link-color;
	border: 1px solid;
}