main {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-works-right {
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
  }
  .my-works {margin-top: 20px;}
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .description {
    h3 {
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      color: #0000FF;
    }
    a:hover {color: rgb(64, 64, 221)}
    p {
      opacity: 0.8;
      text-align: justify;
    }
  }
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25ff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}