<main>
  <section>
    <h1>My works</h1>
    <div class="container" *ngFor="let slide of this.data let e=even;">
      <div class="{{e ? 'row my-works' : 'row my-works-right'}}">
        <article class="col-xl-6 description">
          <div>
            <h3>{{slide.name}}</h3>
            <a href="{{slide.link}}" target="_blank">{{slide.click}}</a>
          </div>
          <p>&nbsp; {{slide.description}}</p>
        </article>
        <ngb-carousel  class="col-xl-6" *ngIf="data">
          <ng-template ngbSlide>
            <img class="d-block w-100 img-fluid" src="{{slide.images[0]}}" alt="Random first slide">
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100 img-fluid" src="{{slide.images[1]}}" alt="Random second slide">
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100 img-fluid" src="{{slide.images[2]}}" alt="Random third slide">
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100 img-fluid" src="{{slide.images[3]}}" alt="Random fourth slide">
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100 img-fluid" src="{{slide.images[4]}}" alt="Random fifth slide">
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </section>
</main>
