$md-mcgpalette0: (
    50 : #f4e7ea,
    100 : #e3c2ca,
    200 : #d19aa7,
    300 : #bf7183,
    400 : #b15269,
    500 : #a3344e,
    600 : #9b2f47,
    700 : #91273d,
    800 : #882135,
    900 : #771525,
    A100 : #ffadb9,
    A200 : #ff7a8d,
    A400 : #ff4761,
    A700 : #ff2e4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-mcgpalette1: (
    50 : #eeeee9,
    100 : #d6d5c8,
    200 : #babaa3,
    300 : #9e9e7e,
    400 : #8a8962,
    500 : #757446,
    600 : #6d6c3f,
    700 : #626137,
    800 : #58572f,
    900 : #454420,
    A100 : #fffc8a,
    A200 : #fffa57,
    A400 : #fff924,
    A700 : #fff80a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
