@import "./app/styles/colors.scss";

body {
    margin: 0;
    font-family: Roboto sans-serif;
}

.owl-theme .owl-dots .owl-dot span {
    background: $link-color;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: $delete-message-color;
}